version: '3.7'
services:
  api:
    build:
      context: .
      dockerfile: ./test/Dockerfile
    command: npm run dev
    environment:
      API_PORT: 9002
      DEBUG: app-container*
      LOGGER_HTTP_ENABLED_REQUEST: "true"
      LOGGER_HTTP_ENABLED_RESPONSE: "true"
      LOGGER_HTTP_LEVEL: debug
      LOGGER_REPO_ENABLED: "true"
      NODE_ENV: dev
    ports:
      - 9002:9002
    volumes:
      - ./coverage:/home/app/coverage
      - ./src:/home/app/src
      - ./test:/home/app/test
      - ./package.json:/home/app/package.json
      - /home/app/node_modules
